@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

header {
  color: #FFD700;
}

body {
  font-family: var(--font-roboto);
  background-color: #0a1d42;
}

.App {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg,
      rgba(80, 200, 120, 1) 100%,
      rgba(249, 211, 180, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 3.1px 3.1px;
  text-align: center;
  display: inline-block;
  font-size: 9px;
}

.column {
  float: left;
  width: 50%;
}